<div class="container">

  <h2 class="titulo">
    Gestión de Estudiantes
  </h2>

  <div
    class="mensaje-exito"
    *ngIf="mensajeExito"
  >
    {{ mensajeExito }}
  </div>

  <!-- FORMULARIO -->

  <div class="formulario">

    <input
      type="text"
      placeholder="Nombre completo"
      [(ngModel)]="nuevoEstudiante.nombre"
    >

    <input
      type="text"
      placeholder="Carrera"
      [(ngModel)]="nuevoEstudiante.carrera"
    >

    <input
      type="number"
      placeholder="Edad"
      [(ngModel)]="nuevoEstudiante.edad"
    >

    <button (click)="guardar()">
      Registrar Estudiante
    </button>

  </div>

  <!-- TABLA -->

  <table>

    <thead>

    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Carrera</th>
      <th>Edad</th>
      <th>Acciones</th>
    </tr>

    </thead>

    <tbody>

    <tr *ngFor="let estudiante of estudiantes; let i = index">

      <td>{{ i + 1 }}</td>

      <td>{{ estudiante.nombre }}</td>

      <td>{{ estudiante.carrera }}</td>

      <td>{{ estudiante.edad }}</td>

      <td>

        <button
          class="btn-eliminar"
          (click)="eliminar(estudiante.id)"
        >
          Eliminar
        </button>

      </td>

    </tr>

    </tbody>

  </table>

</div>
