@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background:#050816;

}

.titulo{
  font-size:3rem;
  font-weight:800;
  margin-bottom:10px;
  color:#4f46e5;

}

.subtitulo{
  color: #ffffff;
  margin-bottom:35px;
  font-size:20px;
}

.mensaje{
  background:#22c55e;
  color:white;
  padding:14px;
  border-radius:12px;
  margin-bottom:20px;
  font-weight:600;
}

/* CONTENEDOR */

.container{
  max-width:1200px;
  margin:40px auto;
  padding:20px;
  font-family:'Poppins', sans-serif;
}


/* FORMULARIO */

.formulario{
  background: rgba(255, 255, 255, 0.05);

  border:1px solid rgba(255, 255, 255, 0.08);

  border-radius:30px;

  padding:35px;

  margin-bottom:40px;

  backdrop-filter:blur(15px);

  box-shadow:0 15px 40px rgba(0,0,0,0.35);
}

/* INPUTS */

.formulario input,
.formulario select{

  width:100%;

  padding:16px;

  margin-bottom:18px;

  border:none;

  border-radius:14px;

  background:#ffffff;

  color:#111827;

  font-size:15px;

  outline:none;

  transition:0.3s ease;
}

/* TEXTO PLACEHOLDER */

.formulario input::placeholder{
  color: #000000;
}

/* AL ESCRIBIR */

.formulario input:focus,
.formulario select:focus{

  box-shadow:
  0 0 15px rgba(124,131,255,0.45);

  transform:scale(1.01);
}

/* BOTON */

.formulario button{

  width:100%;

  padding:16px;

  border:none;

  border-radius:16px;

  background:
  linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;

  font-weight:700;

  font-size:16px;

  cursor:pointer;

  transition:0.3s ease;

  box-shadow:
  0 10px 30px rgba(91,110,255,0.35);
}

.formulario button:hover{

  transform:translateY(-3px);

  box-shadow:
  0 15px 35px rgba(91,110,255,0.50);
}

/* TABLA */

table{

  width:100%;

  border-collapse:collapse;

  overflow:hidden;

  border-radius:25px;

  background:rgba(255,255,255,0.05);

  backdrop-filter:blur(15px);

  box-shadow:
  0 15px 40px rgba(0,0,0,0.35);
}

/* HEADER */

th{

  background:
  linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;

  padding:20px;

  text-align:left;

  font-size:15px;
}

/* CELDAS */

td{

  padding:18px;

  color:#1f2937;

  background:white;

  border-bottom:
  1px solid #e5e7eb;

  font-weight:500;
}

/* FILAS */

tr:hover td{

  background:#eef2ff;

  transition:0.3s ease;
}

/* BOTON ELIMINAR */

td button{

  background:
  linear-gradient(
    135deg,
    #ff4b6e,
    #ff6b81
  );

  color:white;

  border:none;

  padding:10px 15px;

  border-radius:12px;

  cursor:pointer;

  font-weight:600;

  transition:0.3s ease;
}

td button:hover{

  transform:scale(1.05);

  box-shadow:
  0 10px 20px rgba(255,75,110,0.35);
}
