@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
  margin:0;
  padding:0;
  background:#050816;
}

.container{

  max-width:1200px;

  margin:40px auto;

  padding:30px;

  font-family:'Poppins', sans-serif;

  color:white;
}

/* TITULOS */

.titulo{
  font-size:3rem;
  font-weight:800;
  margin-bottom:10px;
  color:#4f46e5;

}

.subtitulo{
  color: #ffffff;
  margin-bottom:35px;
  font-size:20px;
}

.mensaje{
  background:#22c55e;
  color:white;
  padding:14px;
  border-radius:12px;
  margin-bottom:20px;
  font-weight:600;
}
/* FORMULARIO */

.formulario{

  background:rgba(255,255,255,0.04);

  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(14px);

  border-radius:30px;

  padding:35px;

  margin-bottom:40px;

  box-shadow:
  0 15px 40px rgba(0,0,0,0.35);
}

/* INPUTS */

.formulario input,
.formulario select{

  width:100%;

  padding:16px;

  margin-bottom:18px;

  border:none;

  border-radius:14px;

  background:#ffffff;

  color:#111827;

  font-size:15px;

  outline:none;

  transition:0.3s ease;
}

.formulario input::placeholder{

  color: #000000;

  opacity:1;
}

.formulario select{

  color:#111827 !important;
}

.formulario input:focus,
.formulario select:focus{

  background:
  rgba(255,255,255,0.12);

  border:1px solid #7c83ff;

  box-shadow:
  0 0 20px rgba(124,131,255,0.35);

  display:flex;
  flex-direction:column;
  align-items:center;

}

/* BOTON */

.formulario button{

  width:auto;

  background:
  linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;

  border:none;

  padding:16px 30px;

  border-radius:18px;

  font-weight:700;

  cursor:pointer;

  transition:0.35s ease;

  box-shadow:
  0 10px 30px rgba(91,110,255,0.35);
}

.formulario button:hover{

  transform:translateY(-4px);

  box-shadow:
  0 18px 35px rgba(91,110,255,0.50);
}

/* TABLA */

.tabla-container{

  overflow-x:auto;

  border-radius:28px;

  background:rgba(255,255,255,0.04);

  backdrop-filter:blur(14px);

  box-shadow:
  0 15px 40px rgba(0,0,0,0.35);
}


table{

  width:100%;

  border-collapse:collapse;
}

/* HEADER TABLA */

th{

  background:
  linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;

  padding:20px;

  text-align:left;

  font-size:15px;

  font-weight:700;
}

/* CELDAS */

td{

  padding:18px;

  border-bottom:
  1px solid rgba(255,255,255,0.06);

  color:#000000;

  font-size:14px;

  font-weight:600;
}
/* FILAS */

tr{
  background:#eef2ff;

  transition:0.3s ease;
}

tr:hover td{

  background:#eef2ff;

  transition:0.3s ease;
}

tr:hover{

  background:
  rgba(124,131,255,0.08);
}

/* BOTON ELIMINAR */

.btn-eliminar{

  background:
  linear-gradient(
    135deg,
    #ff4b6e,
    #ff6b81
  );

  color:white;

  border:none;

  padding:10px 16px;

  border-radius:12px;

  font-weight:600;

  cursor:pointer;

  transition:0.3s ease;
}

.btn-eliminar:hover{

  transform:scale(1.05);

  box-shadow:
  0 10px 25px rgba(255,75,110,0.35);
}
