<div class="login-wrapper">
  <div class="container" id="container">
    <!-- Crear cuenta -->
    <div class="form-container Crear-cuenta">
      <form (submit)="onRegister($event)">
        <h1>Crear Cuenta</h1>


        <span>O usa tu correo para registrarte</span>
        <input type="text" placeholder="Nombre" required />
        <input type="email" placeholder="Correo electrónico" required />
        <input type="password" placeholder="Contraseña" required />
        <input type="password" placeholder="Confirmar contraseña" required />
        <button type="submit">Crear</button>

                <div class="Iconos-Social">
          <a href="#" class="icon"><img src="assets/icons8-logo-de-google.svg" alt="Google" /></a>
          <a href="#" class="icon"><img src="assets/icons8-facebook-nuevo.svg" alt="Facebook" /></a>
          <a href="#" class="icon"><img src="assets/icons8-github.svg" alt="GitHub" /></a>
          <a href="#" class="icon"><img src="assets/icons8-mac-os.svg" alt="Apple" /></a>
        </div>
      </form>
    </div>

    <!-- Iniciar sesion -->
    <div class="form-container Iniciar-Sesion">
      <form (submit)="onLogin($event)">

        <div class="Iconos-Social">
          <a href="#" class="icon"><img src="assets/icons8-logo-de-google.svg" alt="Google" /></a>
          <a href="#" class="icon"><img src="assets/icons8-facebook-nuevo.svg" alt="Facebook" /></a>
          <a href="#" class="icon"><img src="assets/icons8-github.svg" alt="GitHub" /></a>
          <a href="#" class="icon"><img src="assets/icons8-mac-os.svg" alt="Apple" /></a>
        </div>

        <span>O usa tu correo y contraseña</span>
        <input type="email" placeholder="Correo electrónico" required />
        <input type="password" placeholder="Contraseña" required />
        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>

    <!-- Panel lateral -->
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">

          <h1>UNDERTAKE</h1>
          <p>“Educamos para crear, inspiramos para emprender.”</p>
          <button class="hidden" (click)="toggleForm('login')">Iniciar Sesión</button>
        </div>
        <div class="toggle-panel toggle-right">

          <h1>UNDERTAKE</h1>
          <p>“Educamos para crear, inspiramos para emprender.”</p>
          <button class="hidden" (click)="toggleForm('register')">Crear Cuenta</button>
        </div>
      </div>
    </div>
  </div>
</div>

