@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background:#f4f4f4;
}

.container{
  max-width:1200px;
  margin:40px auto;
  padding:20px;
  font-family:'Poppins', sans-serif;
}

.titulo{
  font-size:3rem;
  font-weight:800;
  margin-bottom:10px;
  color:#111827;
}

.subtitulo{
  color:#555;
  margin-bottom:30px;
  font-size:15px;
}

.mensaje{
  background:#22c55e;
  color:white;
  padding:14px;
  border-radius:12px;
  margin-bottom:20px;
  font-weight:600;
}

.formulario{
  background:#ececec;
  padding:25px;
  border-radius:18px;
  margin-bottom:30px;
}

.formulario input{
  width:100%;
  padding:14px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:10px;
  font-size:14px;
  color:#111;
}

.formulario input::placeholder{
  color:#777;
}

.formulario button{
  background:linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;
  border:none;
  padding:14px 22px;
  border-radius:12px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.formulario button:hover{
  transform:translateY(-2px);
}

table{
  width:100%;
  border-collapse:collapse;
  overflow:hidden;
  border-radius:18px;
}

th{
  background:linear-gradient(
    135deg,
    #5b6eff,
    #7c83ff
  );

  color:white;
  padding:18px;
  text-align:left;
}

td{
  padding:16px;
  background:white;
  border-bottom:1px solid #eee;
  color:#222;
  font-weight:500;
}

tr:hover td{
  background:#f8f9ff;
}

.btn-eliminar{
  background:#ff4d6d;
  color:white;
  border:none;
  padding:10px 14px;
  border-radius:10px;
  cursor:pointer;
}

.btn-eliminar:hover{
  background:#e63956;
}

@media(max-width:900px){

  .titulo{
    font-size:2rem;
  }

  table{
    display:block;
    overflow-x:auto;
  }

}
