<header *ngIf="mostrarLayout">
  <img class="logo" src="assets/UNDERTAKE.png" alt="Logo TrikiTrueke" routerLink="/home" routerLinkActive="activo">

  <nav>
    <div class="LinksNav">
      <button class="btn-fondo" routerLink="/home" routerLinkActive="activo">Inicio</button>
      <!--<button class="btn-fondo" routerLink="/ayuda" routerLinkActive="activo">Ayuda</button>-->
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<footer class="footer" *ngIf="mostrarLayout">
  <p>© 2025 UNDERTAKE — Todos los derechos reservados</p>
  <div class="social">
    <a href="https://www.instagram.com/paan.t0">
      <img src="assets/insta-amarillo.jpeg" alt="Instagram">
    </a>
  </div>
</footer>
