<header *ngIf="mostrarLayout">
  <img class="logo" src="assets/UNDERTAKE.png" alt="Logo TrikiTrueke" routerLink="/home" routerLinkActive="activo">

  <nav>
    <div class="LinksNav">
      <button class="btn-fondo" routerLink="/home" routerLinkActive="activo">Inicio</button>
      <button class="btn-fondo" routerLink="/usuarios" routerLinkActive="activo">Usuarios</button>
      <button class="btn-fondo" routerLink="/estudiantes" routerLinkActive="activo">Estudiantes</button>
      <button class="btn-fondo" routerLink="/mentores" routerLinkActive="activo">Mentores</button>
      <button class="btn-fondo" routerLink="/eventos" routerLinkActive="activo">Eventos</button>
      <button class="btn-fondo" routerLink="/pasantias" routerLinkActive="activo">Pasantías</button>

    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>


<footer class="footer" *ngIf="mostrarLayout">
  <p>© 2026 UNDERTAKE — Todos los derechos reservados</p>
  <div class="social">
    <a href="https://www.instagram.com/paan.t0">
      <img src="assets/insta-amarillo.jpeg" alt="Instagram">
    </a>
  </div>
</footer>
