
#logo {
  position: fixed;           /* Fija el logo en la pantalla */
  top: 20px;                 /* Espacio desde arriba */
  left: 20px; 
  size: 10%;               /* Espacio desde la izquierda */
  width: 10%;               /* Tamaño del logo */
  height: auto;              /* Mantiene la proporción */
  z-index: 1000;             /* Asegura que quede encima del contenido */
  cursor: pointer;           /* (Opcional) cambia el cursor al pasar */
 filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4)); /* 🔥 Sombra suave */

}

