<div class="articulos-container">

  <!-- Titulo y botón -->
  <div class="header-articulos">
    <h2 *ngIf="categoria">Artículos de {{ categoria }}</h2>
    <h2 *ngIf="!categoria">Explora nuestros artículos</h2>

    <button class="btn-publicar" (click)="mostrarFormulario = !mostrarFormulario">
      {{ mostrarFormulario ? 'Cerrar formulario' : 'Publicar artículo' }}
    </button>
  </div>

  <!-- FOrmulario para publicar articulo -->

  <div class="formulario-container" *ngIf="mostrarFormulario">

    <label class="label">Imagen del artículo</label>

    <div class="image-preview" *ngIf="imagenPreview">
      <img [src]="imagenPreview">
    </div>

    <div class="file-upload">
      <label for="fileInput" class="custom-file-upload">Subir imagen</label>

      <input type="file" id="fileInput" accept="image/*" (change)="onImageSelected($event); onImageSelected($event)">
    </div>

    <label class="label">Nombre</label>
    <input class="input" [(ngModel)]="nuevoArticulo.nombre">

    <label class="label">Descripción</label>
    <textarea class="textarea" [(ngModel)]="nuevoArticulo.descripcion"></textarea>

    <label class="label">Categoría</label>
    <select class="select" [(ngModel)]="nuevoArticulo.categoria">
      <option value="">Seleccione...</option>
      <option value="ropa">Ropa</option>
      <option value="tecnologia">Tecnología</option>
      <option value="accesorios">Accesorios</option>
      <option value="hogar">Hogar</option>
      <option value="otros">Otros</option>
    </select>

    <label class="label">¿Por qué deseas intercambiarlo?</label>
    <textarea class="textarea" [(ngModel)]="nuevoArticulo.motivo"></textarea>

    <button class="btn-publicar2" (click)="publicarArticulo()">
      Publicar
    </button>
  </div>

  <!--Formulario para editar articulo-->
  <div class="formulario-container" *ngIf="editando">
    <h3>Editar artículo</h3>

    <label class="label">Cambiar imagen</label>
    <div class="image-preview" *ngIf="imagenEditPreview">
      <img [src]="imagenEditPreview">
    </div>
    <div class="file-upload">
      <label for="fileInputEdit" class="custom-file-upload">Cambiar imagen</label>

      <input type="file" id="fileInputEdit" accept="image/*"
        (change)="onEditImageSelected($event); onEditImageSelected($event)">
    </div>

    <label class="label">Nombre</label>
    <input class="input" [(ngModel)]="articuloEditado.nombre">

    <label class="label">Descripción</label>
    <textarea class="textarea" [(ngModel)]="articuloEditado.descripcion"></textarea>

    <label class="label">Categoría</label>
    <select class="select" [(ngModel)]="articuloEditado.categoria">
      <option value="ropa">Ropa</option>
      <option value="tecnologia">Tecnología</option>
      <option value="accesorios">Accesorios</option>
      <option value="hogar">Hogar</option>
      <option value="otros">Otros</option>
    </select>

    <label class="label">Motivo</label>
    <textarea class="textarea" [(ngModel)]="articuloEditado.motivo"></textarea>

    <button class="btn-publicar2" (click)="guardarCambios()">Guardar cambios</button>
    <button class="btn-cancelar" (click)="cancelarEdicion()">Cancelar</button>
  </div>

  <!-- Lista de articulos -->
  <div class="articulos-grid" *ngIf="articulosFiltrados.length > 0; else sinArticulos">
    <div class="articulo-card" *ngFor="let articulo of articulosFiltrados">
      <img [src]="articulo.imagen" [alt]="articulo.nombre" class="articulo-img" />
      <div class="articulo-info">
        <h3>{{ articulo.nombre }}</h3>
        <p>{{ articulo.descripcion }}</p>
        <p class="motivo">
          <span class="motivo-label">Motivo:</span> {{ articulo.motivo }}
        </p>

      </div>

      <!-- Botones de editar y eliminar articulo -->
      <div class="acciones-articulo">
        <button class="btn-editar" (click)="editarArticulo(articulo)">Editar</button>
        <button class="btn-eliminar" (click)="eliminarArticulo(articulo)">Eliminar</button>
          <button class="btn-eliminar" routerLink="/mensajes">Enviar Mensaje</button>
      </div>
    </div>
  </div>

  <!-- si no hay resultados hacer:  -->
  <ng-template #sinArticulos>
    <div class="no-articulos">
      <p>No hay artículos disponibles en esta categoría.</p>
      <img src="assets/img/empty.png" alt="Sin artículos" class="empty-img" />
    </div>
  </ng-template>

</div>